<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher6"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher6_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Digital_Joper_mala"
        tools:targetApi="34">
        <activity
            android:name=".ShivMala"
            android:exported="false" />
        <activity
            android:name=".HomeAllMalaActivity"
            android:exported="false" />
        <activity
            android:name=".Custom_MalaActivity"
            android:exported="false" />
        <activity
            android:name=".Boisnob_mala"
            android:exported="false" />
        <activity
            android:name=".MoreAppsActivity"
            android:exported="false" />
        <activity
            android:name=".NewFeaturesActivity"
            android:exported="false" />
        <activity
            android:name=".PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:configChanges="uiMode|screenSize|orientation"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>