<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Digital_Joper_mala"
        android:usesCleartextTraffic="false"
        tools:targetApi="34">
        <activity
            android:name=".Activity.Act_all_mantra"
            android:exported="false" />
        <activity
            android:name=".Activity.Act_ShivMala"
            android:exported="false" />
        <activity
            android:name=".Activity.Act_Home_All_Mala"
            android:exported="false" />
        <activity
            android:name=".Activity.Act_Custom_Mala"
            android:exported="false" />
        <activity
            android:name=".Activity.Act_Boisnob_mala"
            android:exported="false" />
        <activity
            android:name=".Activity.Act_MoreApps"
            android:exported="false" />
        <activity
            android:name=".Activity.Act_NewFeatures"
            android:exported="false" />
        <activity
            android:name=".Activity.Act_PrivacyPolicy"
            android:exported="false" />
        <activity
            android:name=".Activity.Act_Setting"
            android:configChanges="uiMode|screenSize|orientation"
            android:exported="false" />
        <activity
            android:name=".Activity.Act_boisnob_mala_helper"
            android:exported="false" />
        <activity
            android:name=".Activity.Act_SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>